/* Main Menu */
.main-menu {
  left: 0;
  position: absolute;
  top: 0;
  transition: .5s all;
  padding-top: 40vh;
  text-align: center;
  width: 100%;
}

.title, .start, .continue {
  -webkit-filter: blur(1px);
  filter: blur(1px);
  opacity: .8;
  text-shadow: 1px 1px rgb(80,80,80), 1px -1px rgb(80,80,80), -1px 1px rgb(80,80,80), -1px -1px rgb(80,80,80);
}

.title {
  color: white;
  cursor: default;
  font: 700 90px "Quicksand";
}

.start, .continue {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: 700 40px "Quicksand";
  padding: 10px 20px;
  transition: .3s all;
}

.start:hover, .continue:hover {
  opacity: 1;
}

.save-menu {
  box-sizing: border-box;
  transition: .4s all;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 40px 0px;
}

.slot0 {
  margin-left: 30px;
}

.slot0, .slot1, .slot2 {
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.5);
  font: 20px "Ubuntu";
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  padding: 40px 10px 0px 10px;
  background: black;
  opacity: .6;
  display: inline-block;
  margin-right: 30px;
  width: calc(33% - 40px);
  height: 150px;
  vertical-align: top;
}

.slot0:hover, .slot1:hover, .slot2:hover {
  opacity: .8;
}

.slot-name, .slot-chapter {
  padding: 5px;
}

.slot-name {
  font: 24px "Ubuntu";
}

.slot-chapter {
  font: 16px "Ubuntu";
}
