@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Work Sans ExtraBold'), local('WorkSans-ExtraBold'), url(https://fonts.gstatic.com/s/worksans/v2/IQh-ap2Uqs7kl1YINeeEGhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

html, body {height: 100%; margin: 0; width: 100%;}

img {min-width: 100%; transition: .8s all;}
#p1 img {height: 200%;}
#p2 img {height: 125%;}

.container {height: 100%; position: absolute; width: 100%;}
.bg {
  background: rgb(20,20,20);
  height: 600px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#p1 {z-index: 2;}
#p1.hide {z-index: 0;}

#p1, #p2 {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  height: 600px;
  width: 800px;
  opacity: 1;
}

#p1i {position: relative; transform: translate3d(-150px,-150px,0);}
/*#p1i.transit {transition: .1s margin;}*/

#p2i {opacity: 0; transform: translate3d(-150px,450px,0);}
.ani1 {opacity: 0; transform: translate3d(-150px,-450px,0) !important; z-index: 0 !important;}
.ani2 {opacity: 1 !important; transform: translate3d(-150px,0px,0) !important; z-index: 2 !important;}

#a1 {
  position: absolute;
  bottom: 40px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

#infobox {
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,.6);
  left: 0;
  height: 150px;
  width: 100%;
  transition: .4s all;
  transform: translate3d(0,150px,0);
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,.5);
}
.dark {background: rgba(0,0,0,.5);}
.light {background: rgba(240,240,240,.6);}

#infobox.show {transform: translate3d(0,0,0);}

#location {
  pointer-events: none;
  position: absolute;
  top: 250px;
  width: 100%;
  color: white;
  text-align: center;
  font: 80px "Work Sans";
}
