/* Characters */
.characters {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.shake {
  animation: shake .6s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0,0,0);
  backface-visibility: hidden;
}

@keyframes shake {
  10%, 90% {transform: translate3d(-1px, 0, 0);}
  20%, 80% {transform: translate3d(2px, 0, 0);}
  30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
  40%, 60% {transform: translate3d(4px, 0, 0);}
}

.character {
  bottom: 0;
  box-sizing: border-box;
  padding-left: 35%;
  padding-right: 35%;
  position: absolute;
  transition: .6s all;
  width: 100%;
  -webkit-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.5));
  -webkit-user-select: none;
}

.cimg {
  transition: .6s all;
  width: 100%;
}

.char-left {
  padding-left: 0px;
  padding-right: 70%;
}

.char-right {
  padding-left: 70%;
  padding-right: 0px;
}

.char-center {
  padding-left: 35%;
  padding-right: 35%;
}

.small {}
.medium {}
.large {}
