/* Classes */
.center {opacity: 1; pointer-events: auto;}
.right {transform: translate3d(25vw, 0, 0);}
.left {transform: translate3d(-25vw, 0, 0);}
.down {transform: translate3d(0, 25vh, 0);}
.up {transform: translate3d(0, -25vh, 0);}
.hide {opacity: 0 !important; pointer-events: none;}
.blur {-webkit-filter: blur(10px);}
.blur1px {-webkit-filter: blur(1px);}
.blur2px {-webkit-filter: blur(2px);}
.halfhide {opacity: .5 !important;}

.flip {
  transform: rotateY(180deg);
}
