/* Overlay */
.overlays {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.overlay-up, .overlay-down, .overlay-left, .overlay-right {
  position: absolute;
}

.overlay-up, .overlay-down {
  height: 25%;
  left: 0;
  width: 100%;
}

.overlay-left, .overlay-right {
  height: 100%;
  top: 0;
  width: 25%;
}

.overlay-up {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0));
  top: 0;
}

.overlay-down {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5));
  bottom: 0;
}

.overlay-left {
  background: linear-gradient(to right, rgba(0,0,0,.5), rgba(0,0,0,0));
  left: 0;
}

.overlay-right {
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.5));
  right: 0;
}
